<!-- templates/app1/crear_banda.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Crear Banda{% endblock %}

{% block content %}
<body>
    <h1>Crear Banda</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Información de la Banda</legend>
            {{ banda_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Perfil de la Banda</legend>
            {{ perfil_form.as_p }}
        </fieldset>
        <button type="submit">Crear Banda</button>
    </form>
</body>
{% endblock %}
